@using MyMail.Models.Entities
@model User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
<h2>SignUp</h2>

<div>
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary()
        
        <p><label>Login: </label> @Html.EditorFor(m => m.Login)</p>
        <p><label>Password: </label> @Html.EditorFor(m => m.Password)</p>
        
        <input type="submit" value="Submit"/>
    }
</div>

</body>
</html>
