@using MyMail.Models.Entities
@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "SignUp";
}

<div class="container margDiv">

    <h2 class="form-signin-heading">Please sign up</h2>

    @using (@Html.BeginForm("SignUp", "Account", FormMethod.Post, new {@class = "form-signin"}))
    {
        @Html.ValidationSummary()

        <label for="Login" class="sr-only">Signup</label>
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control", required = "", autofocus = "", placeholder = "Login" })

        <label for="Password" class="sr-only">Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", required = "", placeholder = "Password"})

        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px;" type="submit">Sign Up</button>
    }

</div>