
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>

    <p><label>User: </label> @Session["Login"]</p>
    <p><label>Account Email: </label> @ViewBag.Email</p>

    @Html.ActionLink("Add Account", "AddServerAccount", "Account")
</div>
</body>
</html>
